<title>About Us | Andy InfoSec</title>
{% extends 'layout.html' %}
{% block body %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2 style="font-family: Aldrich, sans-serif;">About US</h2>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-10 offset-md-1 info">
                        <p style="font-family: Lato, sans-serif;">Andy InfoSec is committed to Information Security / Cyber Security domain and want to contribute to make the cyber world a safer place.</p>
                        <h3 style="font-family: Roboto, sans-serif;">Training</h3>
                        <p style="font-family: Lato, sans-serif;">Andy InfoSec provides various training programs for individuals at our office and offer customized corporate training programs.&nbsp;</p>
                        <h3 style="font-family: Roboto, sans-serif;">Research</h3>
                        <p style="font-family: Lato, sans-serif;">Andy InfoSec also aspires to be a preferred platform for cyber security researchers by supporting/guiding in their research as well as facilitating knowledge sharing events.</p>
                        <h3 style="font-family: Roboto, sans-serif;">Services</h3>
                        <p style="font-family: Lato, sans-serif;">Andy InfoSec service offerings include VAPT, cyber security awareness programs (seminars, workshops, campaigns) as well as supporting security of websites for SMEs at affordable cost.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <hr>
    {% endblock %}