<title>Customized Schedule | Andy InfoSec</title>
{% extends 'layout.html' %}
{% block body %}
<main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2 style="font-family: 'Source Sans Pro', sans-serif;font-size: 38px;padding-bottom: 15px;">CUSTOMIZED SCHEDULE</h2>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-10 offset-md-1 info" style="padding-bottom: 58px;">
                        
                        <h3 style="font-family: 'Source Sans Pro', sans-serif;margin-top: 27px;font-size: 27px;">WHAT IS CUSTOMIZED SCHEDULE AT ANDY INFOSEC?</h3>
                        <p style="font-family: Lato, sans-serif;">At Andy InfoSec, we understand that every student is different and has different requirements when it comes to selecting an institute, a course and a particular batch.</p>
                        <h3 style="font-family: 'Source Sans Pro', sans-serif;margin-top: 27px;font-size: 27px;">TIED UP ON WEEKDAYS? NOT AVAILABLE ON WEEKENDS?</h3>
                        <p style="font-family: Lato, sans-serif;">We make sure that whenever you push yourself it is to bring out and enhance your own strengths and not just to match the preferences of others. With us, your learning matters more than the batch size.</p>
                        <h3 style="font-family: 'Source Sans Pro', sans-serif;margin-top: 27px;font-size: 27px;">WONDERING WHETHER YOU WILL FIT IN?</h3>
                        <p style="font-family: Lato, sans-serif;">You may be a working professional, a homemaker or a student, we can have a customized schedule to suit your preference. Choose your own time and day(s) of the week and connect with others like you to study together.</p>
                        <h3 style="font-family: 'Source Sans Pro', sans-serif;margin-top: 27px;font-size: 27px;">WE MATCH YOUR SPEED</h3>
                        <p style="font-family: Lato, sans-serif;">Everyone has a different pace and we make sure that you can study according to your own pace as and when you get the time. We not only offer flexible timings but also let you learn at your own pace. You can have your classes daily, alternate days or weekly to make the best use of time available to you. We can offer both – a slow-paced schedule or a fast track one based on your requirements.</p>

                    </div>
                </div>
            </div>
            <div class="container">
                    <div class="d-flex justify-content-center align-items-center content" data-aos="fade-up" data-aos-once="true"><a class="btn btn-outline-danger btn-lg" role="button" href="{{url_for('contact_us')}}">Inquire more</a></div>
                </div>
            
        </section>
    </main>
    <hr>
{% endblock %}