<title>Cyber Security for Beginners | Andy InfoSec</title>

{% extends 'layout.html' %}
{% block body %}
<style>
body{
    background-color: white;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
        @media screen and (min-width: 601px) {
  h1.hd1 {
    font-size: 50px !important;
    margin-top: 65px !important;
  }
  p.p1{
      font-size: 20px !important;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1.hd1 {
    font-size: 30px !important;
    margin-top: 40px !important;
  }
  p.p1{
      font-size: 15px;
  }
}
</style>
<div class="article-dual-column" style="padding-top: 75px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center hd1" style="font-family: 'Source Sans Pro', sans-serif;margin-bottom: 15px;letter-spacing: 0px;">CYBER SECURITY FOR BEGINNERS</h1>
                        <p class="text-center" style="font-size: 21px;margin-top: 39px;"><span class="by">FEES : </span><a href="#"><b>7,800 INR</b></a></p>
                        <p class="text-center" style="font-size: 21px;margin-top: 39px;"><span class="date">Duration : </span><a href="#"><b>10 SESSIONS OF 2 HOURS EACH</b></a></p>
                    </div>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-xl-10 offset-xl-1">
                    <p class="text-center p1"><strong>Cyber Security for Beginners</strong> is designed for trainees who want to start learning cyber security but not sure where to start. This program provides an overview of basic concepts which will be used while learning cyber security. If you are not sure which training program to choose, this may be good place to start. If you have already decided for any of our training programs, these concepts will most likely be covered in those programs anyway (refer the details of respective program). In such case you can either enroll for that program directly or first enroll for this program and then go for the selected one.</p>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 23px;">
                <div class="col-md-10 col-lg-5 col-xl-6 offset-md-1 offset-xl-3">
                    <div class="list-group">
                        <ul class="list-group">
                            <li class="list-group-item text-center border rounded-0" style="background-color: rgb(205,205,205);"><span style="font-family: Aldrich, sans-serif;font-size: 30px;font-weight: bold;">Contents</span></li>
                            </ul>
                            <a href="#list-profile" class="list-group-item list-group-item-action" data-toggle="list" style="width: auto;">What is Cyber Security?<br /></a>
                            <a href="#list-messages" class="list-group-item list-group-item-action" data-toggle="list">Basic of Operating Systems(Windows)<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">Computer Network Basics<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">Linux Operating System Architecture<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">Web application Basics<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">Web Servers Technology<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">Cryptography Concepts<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">Social Engineering Attacks<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">Web Application Penetration Testing<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">OWASP Top 10<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">Malware Basics<br /></a>
                            <a href="#list-settings" class="list-group-item list-group-item-action" data-toggle="list">Digital Forensics Overview<br /></a>
                            <hr />
                          <p class="text-center">Based on the inputs from our Research Team the Contents may change as per Industry needs. This is done to Ensure that our Trainees always stay up to date with Industry Trends.</p>
                    </div>
                    <div class="text-center">
                        <div class="row">
                            <div class="col"><a class="btn btn-primary" role="button" href="{{url_for('enroll_now')}}" style="background-color: rgb(254,100,100);width: 136px;font-size: 20px;">Enroll now</a></div>
                            <div class="col"><a class="btn btn-warning" role="button" href="{{url_for('contact_us')}}" style="font-size: 20px;">Inquire more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <section class="portfolio-block call-to-action border-bottom">
        <div class="text-center d-flex justify-content-center align-items-center content" data-aos="fade-up" data-aos-once="true">
            <h3>Want to communicate with us ?</h3><a class="btn btn-outline-success btn-lg" role="button" href="https://api.whatsapp.com/send?phone=+919021928862&amp;text=hello I'm interested in cyber security">Chat on whatsapp&nbsp;<i class="fa fa-whatsapp"></i></a></div>
    </section>
    <!-- Slider carousel -->

    <div class="container mycarousel" style="margin-top:50px;">
        <h4 class="text-center">Other Training Programs</h4>
        <br>

    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000" style="min-height: 300px;">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="card text-center">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Cyber Security for Beginners</h4>
                  <p class="card-text">Fees : 7800 INR<br> Duration : 10 sessions of 2 hours each</p>
                  <a href="{{url_for('cyber_security_for_beginners')}}" class="btn btn-outline-danger">Read More</a>
                </div>
                <div class="card-footer text-muted">
                  
                </div>
              </div>
          </div>
          <div class="carousel-item">

            <div class="card text-center">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Web Application Security Expert</h4>
                  <p class="card-text">Fees : 33,000 INR<br> Duration : 120 hours including hands-on training</p>
                  <a href="{{url_for('web_application_security_expert')}}" class="btn btn-outline-danger">Read More</a>
                </div>
                <div class="card-footer text-muted">
                  
                </div>
              </div>
          </div>
          <div class="carousel-item">

            <div class="card text-center">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Certified Cyber Security Professional</h4>
                  <p class="card-text">Fees : 49,500 INR<br> Duration : 180 hours including hands-on training</p>
                  <a href="{{url_for('certified_cyber_security_professional')}}" class="btn btn-outline-danger">Read More</a>
                </div>
                <div class="card-footer text-muted">
                  
                </div>
              </div>
          </div>
          <div class="carousel-item">

            <div class="card text-center">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Security Operation Center Expert</h4>
                  <p class="card-text">Fees : 25,000 INR<br> Duration : 80 hours of hands-on training</p>
                  <a href="{{url_for('security_operation_center_expert')}}" class="btn btn-outline-danger">Read More</a>
                </div>
                <div class="card-footer text-muted">
                  
                </div>
              </div>
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      
    </div>


<!-- /Slider carousel -->
    {% endblock %}