<title>Enroll now | Andy InfoSec</title>
{% extends 'layout.html' %}
{% block body %}
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me" style="background-color: #ecf3ff;padding-top: 123px;">
            <div class="container" style="margin-top: -47px;">
                <div class="heading">
                    <h2 style="font-style: normal;font-family: Aldrich, sans-serif;margin-bottom: -38px;">Enroll Now</h2>
                </div>
                <form action="{{url_for('send_enrollment')}}" method="POST" style="background-color: #ffffff;">
                    <div class="form-group"><label>Name *</label>
                        <div class="form-row">
                            <div class="col"><input class="form-control" type="text" name="fname" required="" placeholder="First Name"></div>
                            <div class="col offset-lg-0"><input class="form-control" type="text" name="lname" required="" placeholder="Last Name"></div>
                        </div>
                    </div>
                    <div class="form-group"><label for="phone">Phone *</label><input class="form-control" type="text" id="phone" name="phone" required="" pattern="\d*" maxlength="10" minlength="10" inputmode="tel"></div>
                    <div class="form-group"><label for="email">Email *</label><input class="form-control" type="email" name="email" required="" id="email"></div>
                    <div class="form-group"><label>Select Training Program *</label>
                        <div class="form-check"><input class="form-check-input" type="radio" name="training_program" value="Cyber Security for Beginners" id="formCheck-1" required><label class="form-check-label" for="formCheck-1">Cyber Security for Beginners</label></div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="training_program" value="Web Application Security Expert" id="formCheck-1" required><label class="form-check-label" for="formCheck-1">Web Application Security Expert</label></div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="training_program" value="Certified Cyber Security Professional" id="formCheck-1" required><label class="form-check-label" for="formCheck-1">Certified Cyber Security Professional</label></div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="training_program" value="Security Operations Centre Expert" id="formCheck-1" required><label class="form-check-label" for="formCheck-1">Security Operations Centre Expert</label></div>
            </div>
            <div class="form-group"><label>Training Mode *</label>
                <div class="form-check"><input class="form-check-input" type="radio" name="training_mode" value="Regular Classroom" id="formCheck-2" required><label class="form-check-label" for="formCheck-2">Regular Classroom</label></div>
                <div class="form-check"><input class="form-check-input" type="radio" name="training_mode" value="Live Online Classroom" id="formCheck-2" required><label class="form-check-label" for="formCheck-2">Live Online Classroom</label></div>
                <div class="form-check"><input class="form-check-input" type="radio" name="training_mode" value="Not Decided" id="formCheck-2" required><label class="form-check-label" for="formCheck-2">Not Decided</label></div>
                
            </div><button class="btn btn-primary btn-block" type="submit">Submit</button></form>
            </div>
        </section>
    </main>
    {% endblock %}