<title>FAQ | Andy InfoSec</title>
{% extends 'layout.html' %}
{% block body %}
    <main class="page cv-page">
        <section class="portfolio-block cv">
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <header></header>
                        <h2 class="text-uppercase text-center">Frequently asked questions</h2>
                    </div>
                    <div>
                        <h2 class="display-4 pulse animated" style="font-size: 19px;margin-bottom: 8px;"><strong>How much does it cost to learn cyber security?</strong></h2>
                        <p class="pulse animated" style="margin-right: 0px;color: rgb(115,115,115);font-style: normal;font-weight: normal;"><strong>Andy InfoSec provides various training programs in Cyber Security starting from 7,800 INR. The duration and fees of the training programs can be found here:&nbsp;</strong><a href="http://andyinfosec.com/contact-us">http://andyinfosec.com/contact-us</a></p>
                        <h2
                            class="display-4 pulse animated" style="font-size: 19px;margin-bottom: 8px;margin-top: 38px;"><strong>Can I have a career in cyber security even if I do not have engineering background?</strong><br></h2>
                            <p class="pulse animated" style="margin-right: 0px;color: rgb(115,115,115);"><strong>The demand in Cyber Security is for diverse skills which does not necessarily require Engineering or Programming Background. You can discuss your specific need by directly contacting our counselor. To request a call back from our counselor, click on the link below</strong>:<br>
                                <a
                                    href="http://andyinfosec.com/contact-us">http://andyinfosec.com/contact-us</a><br></p>
                            <h2 class="display-4 pulse animated" style="font-size: 19px;margin-bottom: 8px;margin-top: 38px;"><strong>How can I learn cyber security if I am not good in programming?</strong><br></h2>
                            <p class="pulse animated" style="margin-right: 0px;color: rgb(115,115,115);"><strong>There are lot of Cyber Security professionals who do not have any programming skills and are still doing good in their Cyber Security careers. So, it is not the necessity that you must be a pro programmer to learn Cyber Security.</strong><br></p>
                            <h2
                                class="display-4 pulse animated" style="font-size: 19px;margin-bottom: 8px;margin-top: 38px;"><strong>I already have many years of experience in other domain. If I switch to cyber security, will I have to start as a fresher?</strong><br></h2>
                                <p class="pulse animated" style="margin-right: 0px;color: rgb(115,115,115);"><strong>Most of Industry Experience which a person gains is a combination of technical skills, soft skills, team management, dealing with customers and handling various situations. As a person grows in his career in any organization technical skills, tough required are only a small fraction of total competency. However due to a lot of growth opportunities in cyber Security and increased focus by the organizations in the Cyber Security Domain many people are switching to Cyber Security. Organization needs not only freshers but experienced person also to run any department. So many successful experienced people are switching to Cyber Security.</strong><br></p>
                                <h2
                                    class="display-4" data-aos="fade-right" style="font-size: 19px;margin-bottom: 8px;margin-top: 38px;"><strong>Is it possible to pursue training at Andy InfoSec without disturbing my job/studies?</strong><br></h2>
                                    <p data-aos="fade-right" style="margin-right: 0px;color: rgb(115,115,115);"><strong>Andy InfoSec provides&nbsp;</strong><a href="http://andyinfosec.com/customized-schedule/"><strong>customized schedules</strong></a><strong>&nbsp;and the sessions are designed as per schedule of the Trainee’s so you will be able to take the sessions adjusting your schedule and Job.</strong><br></p>
                                    <h2
                                        class="display-4" data-aos="fade-right" style="font-size: 19px;margin-bottom: 8px;margin-top: 38px;"><strong>Does Andy InfoSec provide job guarantee?</strong><br></h2>
                                        <p data-aos="fade-right" style="margin-right: 0px;color: rgb(115,115,115);"><strong>Cyber Security is a growing Domain with lot of career opportunities. If you learn the subject well, you can take advantage of this opportunities. Andy InfoSec provides placement assistance to identify career opportunities based on your strengths.</strong><br></p>
                                        <h2
                                            class="display-4" data-aos="fade-right" style="font-size: 19px;margin-bottom: 8px;margin-top: 38px;"><strong>What salary can I expect after this training?</strong><br></h2>
                                            <p data-aos="fade-right" style="margin-right: 0px;color: rgb(115,115,115);width: auto;"><strong>It’s a growing Industry with</strong>&nbsp;<strong>too many opening for different positions. The salary varies as job roll changes. Some of the salary scales can be seen by visiting this </strong>
                                                <a
                                                    href="https://www.payscale.com/research/IN/Skill=Cyber_Security/Salary">link.</a><br></p>
                                            <h2 class="display-4" data-aos="fade-right" style="font-size: 19px;margin-bottom: 8px;margin-top: 38px;"><strong>Which training program is right for me?</strong><br></h2>
                                            <p data-aos="fade-right" style="margin-right: 0px;color: rgb(115,115,115);"><strong>All training programs are listed here:</strong><br><a href="http://andyinfosec.com/training-programs">http://andyinfosec.com/training-programs</a><br><strong>You can contact the counselor for more queries</strong>:<br>
                                                <a
                                                    href="http://andyinfosec.com/contact-us/">http://andyinfosec.com/contact-us/</a><br></p>
                                            <h2 class="display-4" data-aos="fade-right" style="font-size: 19px;margin-bottom: 8px;margin-top: 38px;"><strong>Do I need to bring my own laptop for training?</strong><br></h2>
                                            <p data-aos="fade-right" style="margin-right: 0px;color: rgb(115,115,115);"><strong>Most of the trainees carry their laptops as they can practice on the same system when they go back home. However if you don’t want to carry your laptop we provide our laptop for practicing in the Lab.</strong><br></p>
                    </div>
                </div>
            </div>
            <section class="portfolio-block call-to-action border-bottom">
                <div class="container">
                        <div class="d-flex justify-content-center align-items-center content" data-aos="fade-up" data-aos-once="true"><a class="btn btn-outline-danger btn-lg" role="button" href="{{url_for('contact_us')}}">Inquire more</a></div>
                </div>
            </section>
        </section>
    </main>
    {% endblock %}