<title>Fees Payment | Andy InfoSec</title>
{% extends 'layout.html' %}
{% block body %}
<div class="contact-clean" style="padding-top: 161px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post">
                        <h1 style="font-family: 'Source Sans Pro', sans-serif;">FEES PAYMENT</h1>
                        <p>Thanks for enrolling for our Training Program</p>
                        <p>You can pay the fees via:</p>
                        <p style="font-weight: bold;">NEFT:</p>
                        <p>Account Name: Andy InfoSec<br />Account Type: Current Account<br />Bank: ICICI<br />Bank Branch: Senapati Bapat Road, Pune<br />Account No: 042405500653<br />IFSC: ICIC0000424</p>
                        <p style="font-weight: bold;">UPI:</p>
                        <p>UPI ID: andyinfosec@icici<br />Account Name: ANDY INFOSEC</p>
                        <p>Our Executive will contact you within 2 working days for Scheduling your Training Session once the Payment is made. You can get in touch on +91 9021928862 via Call or WhatsApp if you dont recieve a call or for any Queries/Inquiries.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}