<title>Mobile Security | Andy InfoSec</title>
{% extends 'layout.html' %}

{% block body %}
<main>
        <div class="container" style="margin-top: 165px;">
            <div class="row">
                <div class="col text-center">
                        <h1 style="font-family: 'Source Sans Pro', sans-serif;">Mobile Application Security Testing</h1>
                        <hr>
                </div>
            </div>
            <div class="row" style="margin-top: 31px;">
                <div class="col-xl-8 offset-xl-2">
                    <p>You have a Mobile application of your business and want to protect it? Our Mobile Application Testing Service can help you to get you application protected from Cyber Attacks. Your application may be small or big no need to worry about it. We will charge you only according to your business needs. So, no need to worry about heavy costs of Security Testing as we will make it fit to your budget that will not affect your pocket much.</p>
                    <p>Mobile application security testing can help ensure there aren't any loopholes in the software that may cause data loss. Mobile application security testing helps you build secure mobile apps, keeping your business and customers secure against attacks. The sets of tests are meant to attack the app to identify possible threats and vulnerabilities that would allow external persons or systems to access private information stored on the mobile device.</p>
                    <p>Stay one step ahead of hackers and protect your m-commerce or other business from the latest online threats by opting Andy InfoSec’s Mobile Application Security Testing Service.</p>
                </div>
            </div>
        </div>
        <section class="portfolio-block call-to-action border-bottom">
                <div class="container">
                        <div class="d-flex justify-content-center align-items-center content" data-aos="fade-up" data-aos-once="true"><a class="btn btn-outline-danger btn-lg" role="button" href="{{url_for('contact_us')}}">Inquire more</a></div>
                </div>
            </section>
    </main>
{% endblock %}