<title>Web Application/Website Testing | Andy InfoSec</title>
{% extends 'layout.html' %}

{% block body %}
<main>
        <div class="container" style="margin-top: 165px;">
            <div class="row">
                <div class="col text-center">
                        <h1 style="font-family: 'Source Sans Pro', sans-serif;">Web Application/Website Testing</h1>
                        <hr>
                </div>
            </div>
            <div class="row" style="margin-top: 31px;">
                <div class="col-xl-8 offset-xl-2">
                    <p>You may have small website or a big ecommerce or business website you need to secure it from online attacks. It is a necessity these days as number of cyber- attacks are increasing day by day as new technologies are getting introduced. As per various reports by Cyber Security Researcher’s it is stated that small website and business are being attacked 60% more than big websites and business as they are easy to attack. This can tell you how important it is to secure your small business as you already have less margins to earn but such attacks can cost you much more.</p>
                        <p>Web application security testing is the process of testing, analyzing and reporting on the security level and/or posture of a Web application. It is used to test and gauge the security strength of a Web application using manual and automated security testing techniques. The key objective behind Web application security testing is to identify any vulnerabilities or threats that can jeopardize the security or integrity of the Web application.</p>
                        <p> Web application security testing is a broad process that includes a multitude of processes that enable security testing of a Web application. It is a systematic process that starts from identifying and scoping the entire application, followed
                       by planning multiple tests. The Web application undergoes a rigorous testing process that includes a series of fabricated malicious attacks to see how well the Web application performs/responds. The overall security testing process is generally followed by a format report that includes the identified vulnerabilities, possible threats and recommendations for overcoming the security shortfalls.</p>
                       <br>
                       <p>
                            <b>Some of the processes within the testing process include :</b>
                            <li>
                                    Brute force attack testing
                            </li>
                            <li>
                                    Password quality rules
                            </li>
                            <li>
                                    Session cookies
                            </li>
                            <li>
                                    User authorization processes
                            </li>
                            <li>
                                    SQL injection
                            </li>
                            <li>
                                    Many more
                            </li>
                       </p>
                </div>
            </div>
        </div>
        <section class="portfolio-block call-to-action border-bottom">
                <div class="container">
                        <div class="d-flex justify-content-center align-items-center content" data-aos="fade-up" data-aos-once="true"><a class="btn btn-outline-danger btn-lg" role="button" href="{{url_for('contact_us')}}">Inquire more</a></div>
                </div>
            </section>
    </main>
{% endblock %}