<title>When can I start ? | Andy InfoSec</title>
{% extends 'layout.html' %}

{% block body %}
<main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2 style="font-family: 'Source Sans Pro', sans-serif;font-size: 30px;padding-bottom: 15px;">WHEN CAN I START?</h2>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-10 offset-md-1 info" style="padding-bottom: 58px;">
                        
                        
                        <p style="font-family: Lato, sans-serif;">As Andy InfoSec focuses on Practical Hands-on training and provides individual attention, enrollments are not in large batches.</p>
                        <p style="font-family: Lato, sans-serif;">You don’t need to wait for a batch to be formed as we provide Customized Schedule considering your availability.</p>                      
                        <p style="font-family: Lato, sans-serif;">To discuss your customized schedule, request a call back.</p>

                    </div>
                </div>
            </div>
            <section class="portfolio-block call-to-action border-bottom">
                    <div class="container">
                            <div class="d-flex justify-content-center align-items-center content" data-aos="fade-up" data-aos-once="true"><a class="btn btn-outline-danger btn-lg" role="button" href="{{url_for('contact_us')}}">Inquire more</a></div>
                    </div>
                </section>
        </section>
    </main>
    <hr>
{% endblock %}