<title>Why Andy InfoSec ? | Andy InfoSec</title>
{% extends 'layout.html' %}
{% block body %}
    <section class="portfolio-block cv" style="margin-top: 76px;">
        <div class="container">
            <div class="work-experience group">
                <div class="heading">
                    <h2 class="text-center">Why andy infosec ?</h2>
                </div>
            </div>
            <div data-aos="fade" data-aos-duration="2000" data-aos-once="true">
                <p class="text-left" style="width: auto;">The Training programs at Andy InfoSec are primarily designed for those who have cyber security career in mind. They are people who are either willing to start their career in cyber security or who are already having a career but want to
                    either add to their profile or totally switch to cyber security.&nbsp;</p>
                <p style="width: auto;">Andy InfoSec understands that the some of the concerns which such candidates have are regarding job placement/career opportunities, relevance of their educational qualification/career experience, and sometimes lack of their IT/Programming
                    background. Refer to&nbsp;<a href="http://andyinfosec.com/faq/">FAQ's</a>)</p>
                <p style="width: auto;">Compared to other Cyber Security “institutes”, Andy InfoSec stands out due to following advantages:</p>
            </div>
            <hr style="margin-top: -50px;margin-bottom: 60px;width: 377px;">
            <div class="row">
                <div class="col-lg-5" style="padding-right: 0px;">
                    <div class="text-center box" style="margin-top: 34px;"><i class="fa fa-list-alt icon" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true" style="font-size: 197px;color: rgb(255,22,30);"></i></div>
                </div>
                <div class="col" style="padding: 15px;">
                    <h1 data-aos="fade" data-aos-duration="2500" data-aos-once="true" style="font-size: 23px;font-family: Bitter, serif;color: rgb(42,42,42);"><strong>Customized Training Schedule</strong></h1>
                    <p data-aos="fade" data-aos-duration="2500" data-aos-once="true" style="color: rgb(72,72,72);width: auto;"><strong>to suit your availability as well as learning speed</strong>&nbsp;– One of the challenge when deciding for a professional training program is to ensure that it will fit in your already busy schedule. If you are working in variable
                        shift timings or may be you need to travel out of city occasionally, or even if a family function is coming up next month, it should not stop you from enrolling if you have a&nbsp;<a href="http://andyinfosec.com/customized-schedule/">customizable&nbsp;training schedule</a>.
                        It’s possible at Andy InfoSec to customize your training schedule for weekends, or weekdays with variable time slots. Contact us to know more.</p>
                </div>
            </div>
            <hr style="margin-top: 30px;margin-bottom: 30px;">
            <div class="row">
                <div class="col-lg-5" style="padding-right: 0px;">
                    <div class="text-center box" style="margin-top: 34px;"><i class="fa fa-asl-interpreting icon" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true" style="font-size: 197px;color: rgb(255,22,30);"></i></div>
                </div>
                <div class="col" style="padding: 15px;">
                    <h1 data-aos="fade" data-aos-duration="2500" data-aos-once="true" style="font-size: 23px;font-family: Bitter, serif;color: rgb(42,42,42);"><strong>Semi-formal training environment</strong><br></h1>
                    <p data-aos="fade" data-aos-duration="2500" data-aos-once="true" style="color: rgb(72,72,72);width: auto;">If you are concerned about the formal training environment where you will be sitting among a big batch of&nbsp; students, who are perhaps more knowledgeable and fluent in English and other technology jargons, and you will hesitate
                        to ask questions if you do not understand, that is not the case at Andy InfoSec. Informal communication, perhaps in your local language, and discussion on your queries in the semi-formal environment helps you grasp the concepts
                        better. It also helps building better understanding between the trainer and the trainee.&nbsp;</p>
                </div>
            </div>
            <hr style="margin-top: 30px;margin-bottom: 30px;">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-center box" style="margin-top: 34px;"><i class="material-icons icon" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true" style="font-size: 197px;color: rgb(251,22,30);margin-top: -52px;">laptop_mac</i></div>
                </div>
                <div class="col" style="padding: 15px;">
                    <h1 data-aos="fade" data-aos-duration="2500" data-aos-once="true" style="font-size: 23px;font-family: Bitter, serif;color: rgb(42,42,42);"><strong>Practical training as opposed to theoretical courses</strong><br></h1>
                    <p data-aos="fade" data-aos-duration="2500" data-aos-once="true" style="color: rgb(72,72,72);width: auto;">While other providers focus on certifications and/or completing the syllabus in specified time, at Andy InfoSec we focus on practical training so that the trainee is ready for the career he/she is looking for. Most of the job opportunities
                        in cyber security today expect practical knowledge and ability to perform immediately after joining.&nbsp;<br></p>
                </div>
            </div>
            <hr style="margin-top: 30px;margin-bottom: 30px;">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-center box" style="margin-top: -27px;"><i class="material-icons icon" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true" style="font-size: 197px;color: rgb(251,22,30);">supervisor_account</i></div>
                </div>
                <div class="col" style="padding: 15px;padding-right: 0px;">
                    <h1 data-aos="fade" data-aos-duration="2500" data-aos-once="true" style="font-size: 23px;font-family: Bitter, serif;color: rgb(42,42,42);"><strong>Personal Attention</strong><br></h1>
                    <p data-aos="fade" data-aos-duration="2500" data-aos-once="true" style="color: rgb(72,72,72);width: auto;">As the training is conducted in smaller groups (or in some cases even one on one, depending on how the training&nbsp;<a href="http://andyinfosec.com/customized-schedule/">schedule is customized</a>), you will get personalized attention
                        and the training at your learning speed.</p>
                </div>
            </div>
        </div>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content" data-aos="fade-up" data-aos-once="true"><a class="btn btn-outline-danger btn-lg" role="button" href="{{url_for('contact_us')}}">Inquire more</a></div>
            </div>
        </section>
    </section>
    {% endblock %}